.productCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 450px;
  height: 450px;
  margin: 20px;
  margin-right: 80px;
  margin-top: 80px;
  padding: 20px;
  cursor: grab;
  transition: transform ease 300ms;
  box-shadow: 5px 10px 5px 10px #dbb4b4;
  border-radius: 15px;

  &:hover {
    scale: 1.05;
  }

  img {
    width: 200px;
    height: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  h2 {
    color: black;
    text-align: center;
  }
}

.productTitle {
  margin-top: 60px;
  padding: 2px;
  margin: auto;
  margin-left: 15px;
  width: 500px;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1px;
  padding: 1px;
  font-size: 20px;
  margin-right: 10px;

  button {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 15px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 15px;
    &:hover {
      scale: 1.05;
      background-color: rgb(110, 107, 107);
    }
  }
}

.heart__white {
  color: black;
  cursor: pointer;
  font-size: 60px;
  margin: 0px;
  padding: 0px;
}

.heart__red {
  color: red;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  font-size: 60px;
}
