.carousel {
  width: 100%;
  height: 100%;
  background-color: rgb(211, 166, 166);
  background-size: cover;
  background-position: center;
  border-radius: 10px;

  h1 {
    background-color: aliceblue;
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
  }
}

.carouselProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(211, 166, 166);
  background-size: cover;
  background-position: center;
  border-radius: 10px;

  img {
    padding: 20px;
    width: 50%;
    height: 80%;
  }
}

.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 65px;
  font-weight: bolder;

  color: #000;
  z-index: 1;
  cursor: pointer;
}
.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 65px;
  color: #000;
  z-index: 1;
  cursor: pointer;
  font-weight: bolder;
}

.dots {
  font-size: 50px;
  cursor: pointer;
  margin: 10px;
}

.dotsContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
}
