.header {
  h1 {
    padding: 30px;
    margin: auto;
    text-align: center;
    background-color: #dbb4b4;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 60%;
  height: 60%;
  margin: auto;
  padding: 100px;

  border-radius: 10px;
}
